#list {
    display: block;
    max-width: 610px;
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-family: 'PT Serif', serif;
    top: 40px;
    margin-top: 20px;
  }

  .check{
    margin-bottom: 100px;
    margin-top: 200px;
  }


  .e-listview .e-list-header {
    background-color: #e0dfdf;
    border-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
  }
  
  .e-listview .e-list-item {
    font-size: 18px;
    margin:20px;
  }