.service-section{
    padding: 1rem 7%;
    min-height: 50vh;
    margin-top: 50px;
    margin-bottom: 90px;
}

.inner-service-section{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    text-align: center;
}
.service-box{
    flex: 1 1 200px;
    padding: 5rem 0;
    border: 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(210, 217, 224);
    box-shadow: 0 1rem 1rem rgba(226, 5, 5, 0.1);
}

.service-box:hover{
    transform: translateY(-50px);
    transition: .5s;
}

.service-box i{
    color:rgb(155, 37, 53);
    font-size: 2rem;
    padding: .5rem 0;
}
.service-box h2{
    color: rgb(14, 48, 94);
    font-size: 26px;
    padding: 1rem 0;
    font-weight: bold;
}
.service-box p{
    color: rgb(14, 48, 94);
    font-size: 17px;
    padding: 0 2rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.appointment{
    margin-bottom: 150px;
}

.ourTeam{
    margin-top: 100px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83vh;
    margin: 0 30px;
    margin-top: -50px;
    margin-bottom: -70px;
    margin-left: 40px;
    width: 300px;
}

.profile-card {
    flex: 1 1 30%;
    max-width: 300px;
    background: #fff;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 #ccc;
    transition: .3s;
    margin-top: 250px;
    margin-bottom: 290px;
    height: 580px;
}

.profile-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px -5px #ccc;
}

.profile-icon {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin: 25px 0 10px 0;
    width: 220px;
    padding: 6px;
    border-radius: 30px;
    text-align: center;
    background-color: #a6cae2;
}

.profile-position {
    font-size: 18px;
    color: rgb(70, 70, 70);
    text-align: center;
    width: 250px;
    margin-top: 25px;
    font-weight: bolder;
}

.profile-text{
    line-height: 60px;
    margin-bottom: -20px;
}

.status {
    margin-top: 20px;
    color: green;
    font-weight: 900;
}
  

@media screen and (max-width: 1000px) {
    .profile-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 390px) {
    .profile-card {
        padding: 20px 15px;
    }

    .profile-container {
        display: inline-block;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0 55px;
        margin-top: -270px;
        margin-bottom: 70px;
    }

    .profile-name {
        font-size: 16px;
    }
}

/*Appointment*/

  .emergencyContact {
      position: relative;
      min-width: 1100px;
      min-height: 560px;
      display: flex;
      z-index: 1000;
      /* background: #fff; */
  }

  .emergencyContact .emergencyContactInfo{
    position: absolute;
    top: 120px;
    width: 350px;
    height: calc(100% - 190px);
    background: rgb(12, 96, 153);
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(10, 0, 0, 0.15);
    margin-left: -110px;
}


.emergencyContact .emergencyContactInfo h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
 }

 .emergencyContact .emergencyContactInfo ul.info{
    position: relative;
    margin: 40px 0;
 }

 .emergencyContact .emergencyContactInfo ul.info li{
     position: relative;
     list-style: none;
     display: flex;
     margin: 40px 0;
     cursor: pointer;
     align-items: flex-start;
     line-height: 36px;
 }

 .emergencyContact .emergencyContactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-height: 30px;
}

.emergencyContact .emergencyContactInfo ul.info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
}

.emergencyContact .emergencyContactInfo ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

 .emergencyContact .contactForm{
    position: absolute;
    padding: 20px 20px;
    padding-left: 250px;
    /* margin-left: 150px; */
    width: calc(100% - 430px);
    height: 115%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
    left: 60px;
}

.emergencyContact .contactForm h2{
    color: rgb(12, 96, 153);
    font-size: 33px;
    font-weight: bold;
}


.emergencyContact .contactForm .formBox{
    position: relative;
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 90px;
}

.emergencyContact .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 70px;
}

.emergencyContact .contactForm .formBox .inputBox.w50{
    width: 140%;
}

.emergencyContact .contactForm .formBox .inputBox input{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: rgb(94, 90, 90);
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
    margin-top: 9px;
}


.emergencyContact .contactForm .formBox .inputBox label{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight:bolder;
    transition: 0.3s;
    margin-top: -30px;
}

.emergencyContact .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: rgb(74, 174, 187);
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600!important;
    border-radius: 4.7%;
}

.emergencyContact .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: rgb(12, 96, 153) !important;
    border-color: rgb(12, 96, 153) !important;
    color: #fff !important;
}

  .emergencyContact .contactForm .formBox .inputBox input[type="submit"]:hover{
      background: #0d948b;
  }

.custom-select{
    padding: 5px;
    outline: none;
}

#specialty{
    margin-top: 30px;
    margin-left: -6px;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    background-color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

@media (max-width : 1200px) {
    .emergencyContact {
        min-height: 670px;
        width: 80%;
        min-width: auto;
        margin-top: 200px;
        margin-bottom: 200px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }

    .emergencyContact .emergencyContactInfo{
        top: 130px;
        height: 400px;
        position: relative;
        box-shadow: none;
    }

    .emergencyContact .contactForm {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: -15px;
        padding-left: 100px;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
  }

  @media (max-width : 991px) {
      .emergencyContact {
          display: flex;
          flex-direction: column-reverse;
          width: 80%;
          min-width: auto;
          margin-top: 220px;
          margin-bottom: 330px;
          left: -30px;
      }

      .emergencyContact .contactForm{
          width: 70%;
          height: auto;
          margin-left: 90px;
      }

      .emergencyContact .emergencyContactInfo{
          width: 100%;
          height: auto;
          margin-left: 0px;
          flex-direction: row;
      }
  }

  @media (max-width : 390px) {

    .emergencyContact {
        left: -140px;
        min-height: 670px;
        width: 700%;
        min-width: auto;
        margin-top: 200px;
        margin-bottom: 290px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }

    .emergencyContact .contactForm {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: -25px;
        padding-left: 120px;
        padding: 25px;
        height: 550px;
        box-shadow: none;

    }

      .emergencyContact .emergencyContactInfo{
          padding: 25px;
          flex-direction: column;
          align-items: flex-start;
      }
      .emergencyContact .contactForm .formBox .inputBox.w50{
          width: 120%;
      }
  }

  .appointment{
     display: flex;
  }

  .modelBackground {
    background-color: rgb(255, 255, 255);
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modelContainer {
    width: 300px;
    height: 400px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modelContainer .model-title {
    display: inline-block;
    text-align: center;
    color:  rgb(12, 96, 153);
    font-weight: bolder;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  .modelContainer .modelBody {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
  }
  
  .modelContainer .modelFooter {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modelContainer .modelFooter button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: rgb(74, 174, 187);
    color: white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: rgb(238, 55, 92);
  }

  #cancelBtn:hover {
    background-color: rgb(199, 22, 57);
    transition: 0.3s;
  }

  #continue:hover{
    background: rgb(12, 96, 153);
    transition: 0.3s;
  }