.poll {
    min-height: 100vh;
    margin-top: 200px;
    margin-left: -88px;
    margin-bottom: 100px;
  }
  
  .poll .pollQuestions {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top:-90px;
    margin-left: 70px;
    text-align: center;
    line-height: 25px;
  }
  
  .poll .pollQuestions > div {
    margin-left:35px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    width: 322px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 5px;
  }
  
  @media (max-width: 768px) {
    .poll .main-poll {
      flex-direction: column;
    }

    .poll {
      margin-left: -145px;
    }


    .poll .main-poll > div {
      margin: 0 0 20px 0;
    }
  }
  


.pollQuestions {
    margin-top:-90px;
    margin-left: 135px;
}
.poll-grid{
  margin-bottom: 30px;
  width: 300px;
}

.poll-grid .question{
font-size: 20px;
}

.pollCat{
  color:rgb(29, 146, 150);
}

.pollBtn{
  margin-top: -50px;
  margin-bottom: 100px;
}