@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Signika+Negative:wght@300&display=swap');

.phone{
    padding-top: 70px;
    height: 650px;
    float: right;
    margin: 55px;
}

.right-column{
    background: #fff;
    border: 2px solid #e6e6e6;
    width: 350px;
    margin: 15px;
    padding: 40px;
    margin-top: 90px;
}

.signup-logo{
    margin: 15px auto;
    width: 120px;
}

.info{
    font-weight: 600px;
    line-height: 20px;
    font-size: 18px;
    color: #999;
    line-height: normal;
    font-family: 'PT Serif', serif;
}

button img{
    height: 30px !important;
    padding: 0 8px 2px;
    border-radius: 50%;
}

.or{
    font-size: 13px !important;
    color: #999;
    font-weight: 600;
    font-family: 'PT Serif', serif;
}

.or::before{
    content: '';
    background: #efefef;
    display: block;
    height: 2px;
    width: 110px;
    position: relative;
    top: 11px;
}

.or::after{
    content: '';
    background: #efefef;
    display: block;
    height: 2px;
    width: 110px;
    position: relative;
    bottom: 10px;
    left: 160px;
}

.form-group{
    margin-bottom: 6px!important;
}

::placeholder{
    color: #999!important;
}

.signup{
    margin: 12px auto;
    padding: 9px!important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    border: none;
    color: white !important;
    background-color: rgb(74, 174, 187) !important;
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
    font-weight: 600!important;
    border-radius: 5px;
}

.signup:hover {
    background: rgb(12, 96, 153) !important;
    border-color: rgb(12, 96, 153) !important;
    color: #fff !important;
  }

.terms {
    line-height: 18px;
    font-size: 14px;
    color: #999;
    margin: 5px 20px;
    font-family: 'PT Serif', serif;
}

.right-column-login {
    background: #fff;border: 2px solid #e6e6e6;
    width: 350px;
    margin: 10px;
    padding: 20px;
    font-family: 'PT Serif', serif;
}

.right-column-login{
    text-decoration: none;
}

.headerStyle{
    color: "black";
    font-size: 30px;
    font-weight: "bold";
    top: 60%;
}