.kickCounter {
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
  margin-top: 300px;
  margin-bottom: 330px;
}

.clock-holder {
  width: 100%;
  background: rgb(226, 250, 248);
  margin: -250px auto;
  position: relative;
}

.kickCounter-head{
  margin-top: 150px;
  margin-bottom: 30px;
}

.stopwatch {
  padding: 60px 0px;
  text-align: center;
}
.stopwatch span{
  background:#00ABA9;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 60px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red{
  border: 2px solid #C85454;
  color: #C85454;
}
.stopwatch .stopwatch-btn-yel{
  border: 2px solid #FFC900;
  color: #FFC900;
}

.stopwatch .stopwatch-btn-gre{
  border: 2px solid #00ABA9;
  color: #00ABA9;
}
.stopwatch .stopwatch-btn-red:hover {
  background: #C85454;
  border: 2px solid #C85454;
  color: #fff;
}
.stopwatch .stopwatch-btn-yel:hover {
  background: #FFC900;
  border: 2px solid #FFC900;
  color: #fff;
}
.stopwatch .stopwatch-btn-gre:hover {
  background: #00ABA9;
  border: 2px solid #00ABA9;
  color: #fff;
}


.stopwatch .stopwatch-btn-foot {
  background:  #b5fcd3;
  margin-top: 12px;
  margin-left: 0px;
  border: none;
  padding: 12px 20px;
  font-size: 35px;
  text-transform: uppercase;
  width: 600px;
  transition: background 1s;
  cursor: pointer;
  rotate:calc(180);
}

.fa-shoe-prints{
  color: #e43d3d;
}

span.countNum{
  background:rgb(226, 250, 248);
  color: rgb(42, 23, 88);
  font-size: 32px;
  font-family: 'PT Serif', serif;
  width: 167px;
  /* border: 2px solid #00ABA9; */
  padding: 12px;
  margin-top: 33px;
}

.head-count{
  margin-top: 50px;
  font-size: 20px;
  color: rgb(42, 23, 88);
  text-align: center;
  margin-bottom: 40px;
}

.subhead-count{
  margin-top: 40px;
  font-size: 20px;
}

.stopwatch .stopwatch-btn-foot{
  color: #00ABA9;
  /* border: 2px solid #00ABA9; */
}

.ui celled list{
 color: #00ABA9;
}

@media (max-width : 390px) {
  .stopwatch .stopwatch-btn-foot {
    margin-top: 30px;
    width: 350px;
  }
}